:root {
	--primary: #eeeeee;
	--accent: #ff8800;
	--background: #262426;
	--midground: #383638;

	--border-radius: 12px;

	--font-size-body: 16px;
	--font-size-heading: 24px;
}

body {
	background-color: var(--background);
	color: var(--primary);

	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: Poppins, sans-serif;
	font-size: var(--font-size-body);
}

main {
	display: flex;
	flex-direction: column;
	max-width: 1280px;
}

h1 {
	font-size: var(--font-size-heading);
	font-weight: bold;
}
