:root {
	--primary: #eeeeee;
	--accent: #ff8800;
	--background: #262426;
	--midground: #383638;

	--border-radius: 12px;
}

body {
	background-color: var(--background);
	color: var(--primary);

	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	display: flex;
	flex-direction: column;
	max-width: 1280px;
}
