@use "theme";

:root {
	--accent: #{theme.$accent};
}

body {
	background: linear-gradient(130deg, theme.$background 0%, darken(theme.$background, 5%) 100%);
	color: theme.$primary;
	text-shadow: -0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1);

	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: Poppins, sans-serif;

	@include theme.fontScaleBody;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
}

h1 {
	@include theme.fontScaleHeading;
	letter-spacing: 0.1rem;
}

:focus {
	border: solid 1px black;
}

.visually-hidden {
	&:not(:focus) {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}

	position: absolute;
	top: 0;
	left: 0;

	border: solid 1px black;
	background-color: white;
	color: black;
	padding: 0.5rem;

	@include theme.fontScaleHeadingSmall;
}
