@use "theme";

form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

label {
	display: flex;
	flex-direction: column;
}

input {
	background-color: theme.$midground;
}

input[type=submit] {
	background-color: theme.$accent;
	width: fit-content;
	padding: 0.2rem;
	border-radius: theme.$border-radius;
}

textarea {
	background-color: theme.$midground;
}
