$primary: #eeeeee;
$accent: #ff8800;
$background: #262426;
$midground: #383638;

$max-content-width: 1280px;
$border-radius: 8px;

$font-size-body: 16px;
$font-size-heading-small: 20px;
$font-size-heading: 24px;
