@use "breakpoints";

$primary: #ffffff;
$accent: #7F7EFF;
$background: #ff8847;

$onMidground: #000000;
$midground: #fbfbfb;

$max-content-width: 1280px;
$border-radius: 8px;

@mixin fontScaleBody {
	font-size: 18px;

	@media (min-width: breakpoints.$desktop) {
		font-size: 20px;
	}
}

@mixin fontScaleHeadingSmall {
	font-size: 20px;

	@media (min-width: breakpoints.$tablet) {
		font-size: 24px;
	}

	@media (min-width: breakpoints.$desktop) {
		font-size: 26px;
	}
}

@mixin fontScaleHeading {
	font-size: 26px;

	@media (min-width: breakpoints.$tablet) {
		font-size: 28px;
	}

	@media (min-width: breakpoints.$desktop) {
		font-size: 32px;
	}
}
