@use "theme";

$bar-width: 0.2rem;

#timeline {
	text-align: center;
}

.timeline {
	display: grid;
	grid-template-columns: min-content min-content 1fr;
	align-items: center;
	width: 100%;
	column-gap: 0.5rem;

	section {
		background-color: theme.$midground;
		border-radius: theme.$border-radius;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 1rem;

		margin: 0.5rem 0;

		div {
			padding: 0.5rem;
		}
	}

	img {
		$width: 30%;

		border-radius: 0 theme.$border-radius theme.$border-radius 0;
		max-width: $width;
	}

	h2 {
		font-size: theme.$font-size-heading-small;
		letter-spacing: 0.05rem;
		padding-bottom: 0.25rem;
	}
}

.timeline-bar {
	background-color: theme.$accent;
	height: 100%;
	width: $bar-width;
	margin: 0 calc(0.5rem + $bar-width / 2);

	&::after {
		content: '';
		border: $bar-width solid theme.$accent;
		background-color: theme.$background;

		width: 1rem;
		aspect-ratio: 1 / 1;
		border-radius: 100%;

		display: block;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.timeline-date {
	font-size: theme.$font-size-heading-small;
}
